<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="public/css/mainstyle.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>Digital Room</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"  type='text/css'>
</head>
<body>
<div id="app">
    <div class="container">
     <div class="room">
         <div class="otsake">
             <h1>KELLOHALLI</h1>
             <h3>Valaistuksenohjaus demo</h3>
         </div>
         <div class="huoneValinta">
             <h2 :style="room===1 ? 'text-decoration : underline;' : ''" @click="setRoom(1)">Baari</h2>
             <h2 :style="room===3 ? 'text-decoration : underline;' : ''" @click="setRoom(3)">Sali</h2>
             <h2 :style="room===4 ? 'text-decoration : underline;' : ''" @click="setRoom(4)">Kabinetti</h2>
         </div>
         <div class="images">
            <transition name="fade">
                <div class="background-images" v-if="state === 1 && room === 1" style="background-image: url(https://wellness-kellohalli.herokuapp.com/public/img/wide_bar_scene-1.jpg);"></div>
            </transition>
            <transition name="fade">
                <div class="background-images" v-if="state === 1 && room === 2" style="background-image: url(https://wellness-kellohalli.herokuapp.com/public/img/bar_scene-1.jpg);"></div>
            </transition>
            <transition name="fade">
                <div class="background-images" v-if="state === 1 && room === 3" style="background-image: url(https://wellness-kellohalli.herokuapp.com/public/img/kitchen_scene-1.jpg);"></div>
            </transition>
            <transition name="fade">
                <div class="background-images" v-if="state === 1 && room === 4" style="background-image: url(https://wellness-kellohalli.herokuapp.com/public/img/room_scene-1.jpg);"></div>
            </transition>
             <transition name="fade">
                 <div class="background-images" v-if="state === 2 && room === 1" style="background-image: url(https://wellness-kellohalli.herokuapp.com/public/img/wide_bar_scene-2.jpg);"></div>
             </transition>
             <transition name="fade">
                 <div class="background-images" v-if="state === 2 && room === 2" style="background-image: url(https://wellness-kellohalli.herokuapp.com/public/img/bar_scene-2.jpg);"></div>
             </transition>
             <transition name="fade">
                 <div class="background-images" v-if="state === 2 && room === 3" style="background-image: url(https://wellness-kellohalli.herokuapp.com/public/img/kitchen_scene-2.jpg);"></div>
             </transition>
             <transition name="fade">
                 <div class="background-images" v-if="state === 2 && room === 4" style="background-image: url(https://wellness-kellohalli.herokuapp.com/public/img/room_scene-2.jpg);"></div>
             </transition>
             <transition name="fade">
                 <div class="background-images" v-if="state === 3 && room === 1" style="background-image: url(https://wellness-kellohalli.herokuapp.com/public/img/wide_bar_scene-3.jpg);"></div>
             </transition>
             <transition name="fade">
                 <div class="background-images" v-if="state === 3 && room === 2" style="background-image: url(https://wellness-kellohalli.herokuapp.com/public/img/bar_scene-3.jpg);"></div>
             </transition>
             <transition name="fade">
                 <div class="background-images" v-if="state === 3 && room === 3" style="background-image: url(https://wellness-kellohalli.herokuapp.com/public/img/kitchen_scene-3.jpg);"></div>
             </transition>
             <transition name="fade">
                 <div class="background-images" v-if="state === 3 && room === 4" style="background-image: url(https://wellness-kellohalli.herokuapp.com/public/img/room_scene-3.jpg);"></div>
             </transition>
             <transition name="fade">
                 <div class="background-images" v-if="state === 4 && room === 1" style="background-image: url(https://wellness-kellohalli.herokuapp.com/public/img/wide_bar_scene-4.jpg);"></div>
             </transition>
             <transition name="fade">
                 <div class="background-images" v-if="state === 4 && room === 2" style="background-image: url(https://wellness-kellohalli.herokuapp.com/public/img/bar_scene-4.jpg);"></div>
             </transition>
             <transition name="fade">
                 <div class="background-images" v-if="state === 4 && room === 3" style="background-image: url(https://wellness-kellohalli.herokuapp.com/public/img/kitchen_scene-4.jpg);"></div>
             </transition>
             <transition name="fade">
                 <div class="background-images" v-if="state === 4 && room === 4" style="background-image: url(https://wellness-kellohalli.herokuapp.com/public/img/room_scene-4.jpg);"></div>
             </transition>
         </div>
        <div class="room-tools">
            <div class="switch">
                <button class="btn" @click="setState(1)"><i class="fas fa-sun"></i></button>
                <button class="btn" @click="setState(2)"><i class="fas fa-adjust"></i></button>
                <button class="btn" @click="setState(3)"><i class="fas fa-moon"></i></button>
                <button class="btn" @click="setState(4)"><i class="fas fa-circle-notch"></i></button>
            </div>
            <div id="qrcodes"></div>
        </div>
     </div>
    </div>
</div>

</body>
<script type="application/javascript" src="public/qrcode.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>

<script>
  // Client side Socket.IO olio
  let socket = io();

  let vue = new Vue({
    el: '#app',
    data: {
      control_id : 0,
      id: 0,
      qr: null,
      state: 2,
      room: 1,
      qr_index: 0
    },

    created() {
        socket.on('connections', (new_id) => {
          this.id = new_id;
        });
        socket.on('changeState', (id, state, room) => {
          this.control_id = parseInt(id, 10);
          this.room = room;
          this.state = state;
        });
    },
    methods: {
      setState(x) {
        this.state = x;
        this.control_id = this.id;
      },
      setRoom(x) {
        this.room = x;
        socket.emit('changeRoom', this.room);
      },
      qrcode() {
        let qrcode = new QRCode('qrcodes', {
          text: 'https://wellness-kellohalli.herokuapp.com/control?id=' + this.id,
          width: 128,
          height: 128,
          colorDark : '#000000',
          colorLight : '#ffffff',
          correctLevel : QRCode.CorrectLevel.H,
        });
        this.qr_index += 1;
      },
    },
    watch: {
      id : function() {
        if(this.qr_index < 1){
          this.$nextTick(this.qrcode());
        }
      },
    },
  });
</script>

</html>